.jweb-sys-borderproxy {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    z-index: 19999;
    background: #f19149;
}
.jweb-sys-container {
    cursor : pointer;
}