<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <!-- 加载属性文件 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:spring.properties</value>
            </list>
        </property>
    </bean>

    <import resource="spring/spring-data-source.xml"></import>
    <import resource="spring/spring-jpa.xml"></import>
    <import resource="spring/spring-mvc.xml"></import>
    <!--
    <import resource="spring/spring-tx.xml"></import>
     -->
    <!--
      <import resource="spring/spring-security.xml"/>
       -->
</beans>
